@font-face {
  font-family: 'minimalust';
  src: url('fonts/Minimalust Regular.ttf');
}

h1{
  color: #004f9f;
  font-family: 'minimalust';
  font-size: 80px;
  margin-left:18%;
  margin-top: 4%;
}

.team-img{
  box-shadow: 5px 5px 9px 0px rgba(153,147,153,1); 
  justify-content: flex-end;
  width:100%;
  height:100%;
  border-radius:100%;
}

.hide {
  display: none;
}

p{
  color: blue;
}

.flip-card {

  background-color: white;
  width: 180px;
  height: 180px;
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  transition: transform 1.5s;
  transform-style: preserve-3d;
}

.flipped .flip-card-inner {
  transform: rotateY(900deg);
}
.unflipped{
  transform: rotateY(-900deg);
}

.flip-card-back{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: show;
}

.flip-card-front{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: #004f9f;
  border-radius: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 140;
  font-family: minimalust;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card-numbering {
  background-color: lightgray;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif  ;
  font-size: 30;
  box-shadow: 5px 5px 9px 0px rgba(153,147,153,1);
}
.team{
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:  #004f9f;
  color: white;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
}

.text{
  color:white;
}

#logo{
  width:150px;
  text-align: center;
}